<template>
  <!--  18.emit -->
  <!--  todo: // 컴포넌트 분리후 onSubmit todo hasError 에 접근 할 수 없다.-->
  <!--  todo: //  -->
  <form action="" @submit.prevent="onSubmit">
    <div class="d-flex">
      <div class="flex-grow-1">
        <input
          v-model="todo"
          name="input"
          class="form-control mr-2"
          type="text"
          placeholder="type new to-do"
        />
      </div>
      <div>
        <button class="btn btn-primary" type="submit">ADD</button>
      </div>
    </div>
    <div v-if="hasError" style="color: red">This field cannot be empty.</div>
  </form>
</template>

<script>
import { ref } from 'vue';

export default {
  emit: ['add-todo'],
  setup(props, { emit }) {
    // 자식 -> 부모 한테 보낼때는 context 파라미터가 필요함;
    // 자식에서 부모로 보낼땐 emit 을 사용함.
    // emit 애 처음 파라미터 : 보낼 이벤트 명,
    // 두번째로는 데이터를 넣으면 됨
    const todo = ref('');
    const hasError = ref(false);
    const onSubmit = () => {
      console.log(todo.value);
      if (todo.value === '') {
        hasError.value = true;
      } else {
        emit('add-todo', {
          id: Date.now(),
          subject: todo.value,
          completed: false,
        });
        todo.value = '';
      }
    };
    return {
      todo,
      hasError,
      onSubmit,
    };
  },
};
</script>

<style scoped></style>
