<template>
	<!--  <div-->
	<!--    v-if="!todos.length"> 추가된 Todo 가 없습니다.-->
	<!--  </div>-->
	<!--  todos 는 ~0405App.vue 에 있음 -->
	<!--  TodoSompleForm에서 가져온 데이터를 App.vue에 있는 todos 로 옴기기 때문에,-->
	<!--  가져와서 사용해야한다-->
	<!--  양방향 바인딩 v-model="el.completed"는 input의 값이 변동 되었을때 el.completed 도 업데이트 해준다-->
	<!--  이때 el.completed 는 부모컴포넌트의 데이터(props)기 떄문에. 사용하면 안됨.-->
	<div v-for="(el, i) in todos" :key="el.id" class="card mt-2">
		<div class="card-body p-2 d-flex align-items-center">
			<div class="form-check flex-grow-1">
				<!--        체크박스 -->
				<input
					id="CheckTodo"
					:value="el.completed"
					type="checkbox"
					name="todo"
					class="form-check-input"
					@change="toggleTodo(i)"
				/>
				<!--        v-model="el.completed"대신(양방향 바인딩), input의 value를 el.completed로 사용하고(단방향) -->
				<!--        input의 값이 바뀔때마다(onChange) toggleTodo에 데이터를 옮겨준다-->
				<!--        i는 todos의 인덱스 -->
				<label
					for="CheckTodo"
					class="form-check-label"
					:style="el.completed ? todoStyle : {}"
					:class="{
						todo: el.completed,
					}"
				>
					{{ el.subject }}
				</label>
			</div>
		</div>
		<div>
			<button class="btn btn-danger" @click="childDeleteTodo(i)">Delete</button>
		</div>
		<!--    @click="deleteTodo(i) 는 부모 컴포넌트에 있는 함수라 / 자식컴포넌트에서 사용할 수 없다.-->
	</div>
</template>

<script>
export default {
	name: 'TodoList',
	props: {
		// props의 타입은 String,Number,Boolean,Array,Object,Function,Promise
		// props 는 1-way binding 이라
		// props의 데이터를 자식 컴포넌트에서 변경 시키면 안된다.
		todos: {
			type: Array,
			required: true,
		},
	},
	emits: ['toggle-todo', 'delete-todo'],
	setup(props, { emit }) {
		// 체크박스 클릭시 toggleTodo가 실행되고 => 부모컴포넌트에게 index값을 보낸다 (~0405App.vue)
		const toggleTodo = index => {
			//   todos의 인덱스를 받아오고
			emit('toggle-todo', index);
			// 부모에게 toggle-todo안에 index를 보낸다.
		};
		const childDeleteTodo = index => {
			emit('delete-todo', index);
		};
		//22. emits : context 반복을 제거하기 : context는 객체를 보내주는데 구조분해를 통해 context를 제거할 수 있다.
		return {
			toggleTodo,
			childDeleteTodo,
		};
	},
};
</script>

<style scoped></style>
