!<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인 창</title>
</head>
<body>
<h1>login</h1>
<a href="login/register">회원가입</a>
<!-- login 에서 register로 넘어가기 때문에 넘어가는 경로를 적어줘야한다.-->
</body>
</html>
