<!--22 emits : emit 을 사용해서 자식컴포넌트들의 데이터(index)를 부모컴포넌트로 보내서 파라미터로 사용했다.-->
<!--22 emits : 개발자도구에서 에러가 뜸 : VueJS 3 부터 emits 옵션으로, 부모로부터 데이터를 받아올때 props 로 등록 한거 처럼-->
<!--22 emits : 자식 => 부모로 옴기는 데이터들도 emits: 에 등록을 하라고 함. -->
<!--23 computed : computed 를 사용하여 검색기능 만들기-->
<!--23 computed : stateB 가(데이터) 다른 stateA 에(다른 데이터값을 참조) 의존할 떄 사용함-->
<!--23 computed : 나중에 stateA 가 값이 바뀌면 stateB도 계산값이 바뀌게된다. -->
<!-- 25 json-server 패키지 설치 : 추가한 TODO를 저장할 패키지를 설치할것 -->
<!-- 25 json-server 패키지 설치 : json-server-->
<!-- 25 json-server 패키지 설치 : fake rest api // 개발 중에만 사용 가능 -->
<!-- 25 json-server 패키지 설치 : 설치후 db.json 에 데이터 파일을 넣은후-->
<!-- 25 json-server 패키지 설치 : terminal 에서 json-server --watch db.json 으로 실행함-->
<template>
  <div class="container">
    <h6>count : {{ count }}</h6>
    <!--    23 computed : computed 는 값이 리턴 되기 때문에 state 처럼 그냥 쓰면 됨 -->
    <h6>double count computed : {{ doubleCountComputed }}</h6>
    <!--    23 computed : method 는 함수이기떄문에 ()를 해야하고-->
    <h6>double count method : {{ doubleCountMethod() }}</h6>
    <button @click="count++">Add one</button>
    <h2>To-Do List</h2>
    <input
      v-model="searchText"
      class="form-control"
      type="text"
      placeholder="Search"
    />
    <hr />
    <TodoSimpleForm @add-todo="addTodo" />
    <div v-if="!filteredTodos.length">표시할게 암것도 없네요 </div>
    <TodoList
      :todos="filteredTodos"
      @toggle-todo="toggleTodo"
      @delete-todo="deleteTodo"
    />
  </div>
</template>
<script>
import { ref, computed } from 'vue';
import TodoSimpleForm from '@/components/TodoSimpleForm.vue';
import TodoList from '@/components/TodoList.vue';

export default {
  components: {
    TodoSimpleForm,
    TodoList,
  },
  setup() {
    const todos = ref([]);
    const todoStyle = {
      textDecoration: 'line-through',
      color: 'grey',
    };
    const addTodo = todo => {
      //@addTodo="함수"
      // 자식에게 받아온 addTodo 데이터를 todo 파라미터로 받아온뒤 함수에서 사용 가능하다.
      console.log(todo);

      todos.value.push(todo);
    };
    const deleteTodo = i => {
      console.log('delete todo');
      console.log(i);
      // 인덱스 받아온것부터 1개 삭제 (그거삭제)
      todos.value.splice(i, 1);
    };
    // 자식에게 가져온 index 를 파라미터로 사용,
    // checkbox 클릭시 그에 맞는 index 에 맞춰 toggleTodo 함수가 실행된다.
    const toggleTodo = index => {
      console.log(index);
      // 트루 => 폴스 / 폴스 => 트루
      todos.value[index].completed = !todos.value[index].completed;
    };
    // 24 검색기능추가 : computed 와 filter함수 로 검색기능을 만들것
    //  24 검색기능추가 :  ex) a = [1,2,3] a.filter( return value === 1); // [1]
    const searchText = ref('');
    const filteredTodos = computed(()=>{
      //  24 검색기능추가 :  todo(todos안에 객체들)에 subject 안에 찾는단어가 포함되어있는지 filter하는것
      return searchText.value ? todos.value.filter(todo =>todo.subject.includes(searchText.value)) : todos.value;
    })

    // 23 computed :
    const count = ref(1);
    // 23 computed : 단순히 함수랑 작동방식이 비슷해보이지만 다르다
    // 23 computed : 일반 메소드
    const doubleCountComputed = computed(() => {
      return count.value * 2;
    });
    // 23 computed : 일반 함수
    const doubleCountMethod = () => {
      return count.value * 2;
    };
    // 23 computed : method와 computed의 차이점
    // 23 computed :1. method 에서는 파라미터로 값을 받아와서 함수안에서 사용할 수 있지만
    // 23 computed : computed는 파라미터를 받아 올 수가 없다.
    // 23 computed : computed는 함수안에 reactive state 가 있거나, 변경될때만 값을 저장한다.
    // 23 computed :2. computed는 값을 캐싱하고있다.
    // 23 computed : computed는 계산되어있는 값이 캐싱되어있어서 몇번을 불러도 작동을 하지않는다. ( 값이 변할때만 작동 )
    // 23 computed : method는 호출만해도 작동
    // 24 검색기능추가 :
    return {
      todos,
      addTodo,
      todoStyle,
      deleteTodo,
      toggleTodo,
      count,
      doubleCountMethod,
      doubleCountComputed,
      searchText,
      filteredTodos,
    };
  },
};
</script>

<style>
.todo {
  color: grey;
  text-decoration: line-through;
}
</style>
