<!--
//
//
 0402 09. 양방향 바인딩(v-model)
//
//
 -->
<template>
  <!--  -->
  <input
      v-model="name"
      type="text"
  >
  <!--  onInput: 사용자가 인풋안에 무언가를 작성하면 실행됨. -->
  <!--  @input : input 안에 무언가를 작성 할 때 updateName 함수가 실행됨.-->
  <!--  -->
  <!--  value와 input 사용을 v-model 한번에 퉁칠수 있다.-->
  <!--  인풋 박스안의 문자를 사용자가 직접 변경시 / name 데이터값은 바뀌질 않는다.-->
  <!--
   ref 를 통해 데이터 변화시 화면 출력은 했으나, ( 단방향 바인딩 )
   화면에서 데이터 변화시 데이터 값을 변경 할 수 있다. ( 양방향 바인딩 )
   how?,

   -->
  <button
      @click="onSubmit"
  >
    Click
  </button>
</template>
<script>
import { ref } from "vue";

export default {
  setup () {
    const name = ref('smurf');
    const onSubmit = () => {
      // view 상에서 input value 변경시 name 데이터가 업데이트 되질 않음.
      console.log(name.value);
      // v-model 사용시 onSubmit 함수가 호출시 뷰단과 데이터값을 같이 업데이트해준다
    };
    const updateName = (e) => {
      //   이벤트를 실행할때는 e라는 객체를 받아옴. e : input 박스 자체의 정보들;
      console.log(e.target.value)
      name.value = e.target.value;
    };
    // 양방향 바인딩을 위해 updateName 함수와 @input 등 번거롭게 많이 작성하게되서
    // 더 간단한 방법을 VUe에서 지원함
    return {
      name,
      onSubmit,
      updateName,
    }
  }
};


// 0401 :
// 06 : 이벤트
// button을 누르면 name 이 바뀔것 같지만
// 바뀌지 않는다
// 07 :  ref vs reactive
//
</script>

<style>
.name {
  color: red;
  }
</style>
