<template>
  <div :class="nameClass">
    {{ name }}
  </div>
  <!--  input 태그에 바인딩하는법 : 데이터를 인풋의 밸류랑 연결할것-->
  <!--  v-bind  태그에 붙여줌 데이터 연결 -->
  <!--  v-bind는 생략하고 : 만 작성하여 속성변경줄수 있다.-->
  <input :type="type" :value="name">
  <!--  v-on 함수 붙임-->
  <button
      class="btn btn-primary"
      @click="updateName"
  >
    Click
  </button>
</template>

<script>
// 변수의 값을 변하기 위해서 ref를 사용함
import { ref } from "vue";

// 0402 09. 양방향 바인딩(v-model)
//
export default {
  setup () {
    const name = ref([]);
    const type = ref('number');
    const nameClass = ref('name');
    // const object = reactive({
    //   id:1,
    //   name:2,
    //   cd:3,
    //   ef:4
    // });
    // const object2 = ref({
    //   id:1,
    //   name:2,
    //   cd:3,
    //   ef:4
    // });
    // ref 안에는 오브젝트 숫자 배열 다 가능.
    // const greeting = name => {
    //   return "Hello" + name;
    // };
    // const greet = greeting(name);
    const updateName = () => {
      // name = 'Smurf changed';
      // ref 를 사용할때는 name 변수자체가아닌 value 를 이용한다
      // ref 로 객체를 관리하면 좋음.
      name.value = 'smurf changed using ref';
      type.value = 'text';
      // .value 안쓰고 사용하는 방법 : ref 사용할 때 원시자료형은 ref를 사용해야하지만
      // 배열,객체는 reactive 를 사용하면 됨.
      // object.id = 2;
      // value 사용안하고 바로 객체 키 사용할 수 있음.
      console.log(name) // smurf changed
      // object2.value.id = 2;
      // ref 사용시 배열과 객체는  value 입력해야함

      // 08. 데이터 바인딩
    };
    return {
      name,
      // greeting,
      // greet,
      updateName,
      type,
      nameClass,
    };
  },
};

// vue2 -> 3 바뀐점
// template 안에서 div로 감싸줘야했음. (쓸모가 없어도 넣어줘야했음 / layout.css 스타일링 불편함)
// vue3 에서는 root태그가 필요없이 template 하위에 바로 작성 가능


// 0401 :
// 06 : 이벤트
// button을 누르면 name 이 바뀔것 같지만
// 바뀌지 않는다
// 07 :  ref vs reactive
//
</script>

<style>
.name {
  color: red;
  }
</style>
