<template>
  <div class="container">
    <h2>To-Do List</h2>
    <!--    에밋에서 보낸 데이터 명을 컴포넌트안에 적어준다.-->
    <TodoSimpleForm @add-todo="addTodo" />
  </div>

</template>
<script>
import { ref } from "vue";
import TodoSimpleForm from '@/components/TodoSimpleForm.vue'

export default {
  components:{
    TodoSimpleForm,
  },
  setup () {
    const todos = ref([]);
    const todoStyle = {
      textDecoration:'line-through',
      color:'grey',
    }
    const addTodo = (todo) => {
      console.log(todo);
      todos.value.push(todo);
    }
    const deleteTodo = (i) => {
      console.log('delete todo');
      console.log(i)
      todos.value.splice(i, 1);
      // splice : i번째 배열에서 n 개수만큼 자른다 ( i 한개지우기 )


    }
    return {
      todos,
      addTodo,
      todoStyle,
      deleteTodo,
    }
  }
};

// v-for: 를 이용해서 객체,배열에 담긴 데이터를 쉽게 출력할 수 있다.
// v-shows / v-if "
</script>

<style>
.todo {
  color: grey;
  text-decoration: line-through;
  }
</style>
