<!--19 props : 부모 -> 자식 보내는 데이터 -->

<template>
  <div class="container">
    <h2>To-Do List</h2>

    <TodoSimpleForm @add-todo="addTodo" />
    <div v-if="!todos.length">
      추가된 Todo가 없습니다.
    </div>
<!--    toggle-todo 에 들어있는 index 를 가져와 toggleTodo 에서 사용한다.-->
    <TodoList
      :todos="todos"
      @toggle-todo="toggleTodo"
      @delete-todo="deleteTodo"
    />
<!--    todos라는 이름으로 todos라는 데이터 접근이 가능하게 됨.-->
  </div>

</template>
<script>
import { ref } from "vue";
import TodoSimpleForm from '@/components/TodoSimpleForm.vue'
import TodoList from "@/components/TodoList.vue";
export default {
  components:{
    TodoSimpleForm,
    TodoList,
  },
  setup () {
    const todos = ref([]);
    const todoStyle = {
      textDecoration:'line-through',
      color:'grey',
    }
    const addTodo = (todo) => {
      //@addTodo="함수"
      // 자식에게 받아온 addTodo 데이터를 todo 파라미터로 받아온뒤 함수에서 사용 가능하다.
      console.log(todo);

      todos.value.push(todo);
    }
    const deleteTodo = (i) => {
      console.log('delete todo');
      console.log(i)
      // 인덱스 받아온것부터 1개 삭제 (그거삭제)
      todos.value.splice(i, 1);

    }
    // 자식에게 가져온 index를 파라미터로 사용,
    // checkbox클릭시 그에 맞는 index 에 맞춰 toggleTodo 함수가 실행된다.
    const toggleTodo =(index) =>{
      console.log(index);
      // 트루 => 폴스 / 폴스 => 트루
      todos.value[index].completed =!todos.value[index].completed;
    }
    return {
      todos,
      addTodo,
      todoStyle,
      deleteTodo,
      toggleTodo,
    }
  }
};


</script>

<style>
.todo {
  color: grey;
  text-decoration: line-through;
  }
</style>
