<template>
  <!--  toggle 값에 따라서 true div 나 false div만 보여주고 싶을땐 -->
  <!--  v-show , v-if 를 사용하면 된다.-->
  <!--  v-show-->
  <!--  <div-->
  <!--      v-show="toggle"-->
  <!--  >true-->
  <!--  </div>-->
  <!--  <div-->
  <!--      v-show="!toggle"-->
  <!--  >false-->
  <!--  </div>-->
  <!--  <button @click="onToggle">toggle</button>-->
  <!--  &lt;!&ndash;  v-show를 이용하면 두개의 div가 동시에 출력되고 토글에 따라서 display:none을 한다&ndash;&gt;-->
  <!--  &lt;!&ndash;  v-if&ndash;&gt;-->
  <!--  <div v-if="toggle">true</div>-->
  <!--  <div v-else>false</div>-->
  <!--  <button @click="onToggle">toggle</button>-->
  <!--  v-if toggle 에 따라서 div 가 생성/제거 됨.-->
  <!--  v-if 는 토글하는데 비용이 많이 듬 ( 조건이 런타임동안 거의 바뀌지 않을 때 사용 )-->
  <!--  v-show 는 초기렌더링의 비용이 든다.( 토글을 자주 할 때 )-->
  <div class="container">
    <h2>To-Do List</h2>
    <TodoSimpleForm />
    <!--    폼의 특징 : submit 버튼 작동시 새로고침됨-->
    <form
        action=""
        @submit.prevent="onSubmit"
    >
      <div
          class="d-flex"
      >
        <div class="flex-grow-1">
          <input
              v-model="todo"
              name="input"
              class="form-control mr-2"
              type="text"
              placeholder="type new to-do"
          >
        </div>
        <div>
          <button
              class="btn btn-primary"
              type="submit"
          >
            ADD
          </button>
        </div>
      </div>
      <div
          v-if="hasError"
          style="color:red"
      >
        This field cannot be empty.
      </div>
    </form>

    <div class="card mt-2">
      <div
          v-if="!todos.length"> 추가된 Todo 가 없습니다.
      </div>
      <!--      v-for 에 el index 로 묶을수있다.-->
      <div
          v-for="(el,i) in todos"
          :key="el.id">
        <div class="card-body p-2 d-flex align-items-center">
          <div class="form-check flex-grow-1">
            <input
                id="CheckTodo"
                v-model="el.completed"
                type="checkbox"
                name="todo"
                class="form-check-input">
            <!--            checkbox input 에서v-model 사용시 반환값에 따라 checked 속성을 관여하게 됨.-->
            <label
                for="CheckTodo"
                class="form-check-label"
                :style="el.completed ? todoStyle :{}"
                :class="{todo: todo.completed}">
              <!--              complteted 값에 따라서 style 바인딩 하기-->
              <!--              삼항연산자를 이용하여 if 문을 만들수 있다-->
              {{ el.subject }}
            </label>
          </div>
        </div>
        <div>
          <button
              class="btn btn-danger"
              @click="deleteTodo(i)">Delete
          </button>
        </div>
        <!--        14. input checkbox 바인딩 하는법-->
      </div>
    </div>

  </div>

</template>
<script>
import { ref } from "vue";
import TodoSimpleForm from '@/components/TodoSimpleForm.vue'

export default {
  components:{
    TodoSimpleForm,
  },
  setup () {
    const todo = ref('');
    const todos = ref([]);
    const hasError = ref(false);
    const todoStyle = {
      textDecoration:'line-through',
      color:'grey',
    }
    const onSubmit = () => {
      // 15. CLASS/STYLE 바인딩
      // style 바인딩
      // Object를 이용하는 바인딩 (Array의 방법도 있음)

      // 16. to-do 삭제하기

      // if (todo.value === '') {
      //   return hasError.value = true;
      // } else {
      //   hasError.value = false;
      //   todos.value.push({
      //     id:Date.now(), //고유값으로 아주 좋음 unique 함
      //     subject:todo.value,
      //   });
      // }
      return todo.value !== '' ?
          (todos.value.push({
            id:Date.now(), //고유값으로 아주 좋음 unique 함
            subject:todo.value,
            completed:false,
          }), todo.value = '') :
          hasError.value = true;
      // e.preventDefault();
      // modifier 를 이용하여 preventDefault 를 생략 할 수 있다.

// const input = document.forms[0].input;
    }
    const deleteTodo = (i) => {
      console.log('delete todo');
      console.log(i)
      todos.value.splice(i, 1);
      // splice : i번째 배열에서 n 개수만큼 자른다 ( i 한개지우기 )

    }
    return {
      todo,
      todos,
      onSubmit,
      hasError,
      todoStyle,
      deleteTodo,
    }
  }
};

// v-for: 를 이용해서 객체,배열에 담긴 데이터를 쉽게 출력할 수 있다.
// v-shows / v-if "
</script>

<style>
.todo {
  color: grey;
  text-decoration: line-through;
  }
</style>
