@charset "UTF-8";

.test {
  width: 400px;
}

.test h1 {
  text-align: center;
  display: block;
  background-color: #faead7;
  width: 100%;
  height: 100%;
  color: #d57121;
}

.test div {
  margin: 0 auto;
  text-align: center;
}

.input {
  margin: 0.5rem;
}

article {
  display: flex;
  height: 8rem;
}

article > div {
  width: 4rem;
}

.red {
  background-color: red;
  height: Calc(100% - (11% * 7));
}

.orange {
  background-color: orange;
  height: Calc(100% - (11% * 6));
}

.yellow {
  background-color: yellow;
  height: Calc(100% - (11% * 5));
}

.green {
  background-color: green;
  height: Calc(100% - (11% * 4));
}

.blue {
  background-color: blue;
  height: Calc(100% - (11% * 3));
}

.navy {
  background-color: navy;
  height: Calc(100% - (11% * 2));
}

.purple {
  background-color: purple;
  height: Calc(100% - (11%));
}

.book {
  background-color: #f5f5dc;
  width: 400px;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
}

.book .heading {
  font-size: 28px;
  color: #fe7f50;
}

.book .title {
  font-size: 22px;
  margin: 1rem 0;
}

.book .author,
.book .price,
.book .type {
  text-align: left;
  padding: 0.3rem;
  font-size: 18px;
  margin-left: 3rem;
}
