<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>0310 뷰 기초 익히기</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <!--  cdn 이용해서 vue 추가하기 -->
    <!--    1-->
    <div id="app">
      {{ name }} {{ age }}
      <!--    2-->
      <div>{{ person.name }} {{ person.age }}</div>
    </div>
    <script>
      new Vue({
        el: "#app",
        // {{name}}를 통해  data 객체 안의 name 변수를 불러 올 수 있다.
        data: {
          name: "스머프",
          age: 34,
          //name,age 는 사람이니깐 person 이라는 객체를 생성 해 준다.
          person: {
            name: "스머프2",
            age: 32,
          },
        },
      });
    </script>
  </body>
</html>
