<button class="button is-link is-primary is-rounded m-3" onclick="location.href = '/login'">로그인</button>
<button class="button is-rounded is-grey is-light  m-3" onclick="location.href = '/register'">회원가입</button>
